<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Gestion MoMo - Bilan</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <!-- Custom Refresher Content -->
  <ion-refresher slot="fixed"
                 (ionRefresh)="ionRefresh($event)"
                 (ionPull)="ionPull($event)"
                 (ionStart)="ionStart($event)">
    <ion-refresher-content
            pullingIcon="arrow-dropdown"
            pullingText="Pull to refresh"
            refreshingSpinner="circles"
            refreshingText="Refreshing...">

    </ion-refresher-content>
  </ion-refresher>
  <div class="row">
    <div class="col-xs-12">

      <div class="table-responsive tableFixHead">
        <table class="table table-striped table-bordered">
          <thead class="">
          <tr>
            <th *ngFor="let ht of headTable">{{ ht }}</th>
          </tr>
          </thead>
          <tbody class="pagination-sm">
          <tr *ngFor="let bt of bodyTable">
            <td>{{ bt.date }}</td>
            <td>{{ bt.fond }}</td>
            <td>{{ bt.pret }}</td>
            <td>{{ bt.espece }}</td>
            <td>{{ bt.compte }}</td>
            <td>{{ bt.commission }}</td>
            <td>{{ bt.totalEC }}</td>
            <td *ngIf="bt.margeEC.alert"><span class="label label-sm label-warning">{{ bt.margeEC.val }}</span></td>
            <td *ngIf="!bt.margeEC.alert"><span class="label label-sm label-success">{{ bt.margeEC.val }}</span></td>
            <td>{{ bt.diffCom }}</td>
            <td>{{ bt.supplements }}</td>
            <td *ngIf="bt.statut"><span class="label label-sm label-success">Bon</span></td>
            <td *ngIf="!bt.statut"><span class="label label-sm label-danger">Mauvais</span></td>
            <td><button class="btn btn-primary" (click)="updateBilanMomo(bt.id)"><span class="glyphicon glyphicon-edit"></span></button></td>
          </tr>
          </tbody>
          <tfoot>
          <tr>
            <td colspan="12">
              <button class="btn btn-danger"><span class="glyphicon glyphicon-backward"></span></button>
              <button class="btn btn-success"><span class="glyphicon glyphicon-forward"></span></button>
            </td>
          </tr>
          </tfoot>
        </table>
      </div>
    </div>
  </div>
</ion-content>
