<ion-header>
  <ion-toolbar>
    <button class="pull-right btn btn-danger" (click)="dismissModal()"><span class="badge">X</span></button>
    <ion-title>Détail Espèces</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <div class="row">
    <div class="col-xs-8 col-xs-offset-2">
      <form (ngSubmit)="onSubmit(f)" #f="ngForm">
        <div class="form-group row">
          <div class="col-xs-6">
            <label for="dixMilles">10.000 x</label>
          </div>
          <div class="col-xs-6">
            <input type="number" id="dixMilles" class="form-control" name="dixMilles" [ngModel]="default10000" required>
          </div>
        </div>

        <div class="form-group row">
          <div class="col-xs-6">
            <label for="cinqMilles">5.000 x</label>
          </div>
          <div class="col-xs-6">
            <input type="number" id="cinqMilles" class="form-control" name="cinqMilles" [ngModel]="default5000" required>
          </div>
        </div>

        <div class="form-group row">
          <div class="col-xs-6">
            <label for="deuxMilles">2.000 x</label>
          </div>
          <div class="col-xs-6">
            <input type="number" id="deuxMilles" class="form-control" name="deuxMilles" [ngModel]="default2000" required>
          </div>
        </div>

        <div class="form-group row">
          <div class="col-xs-6">
            <label for="mille">1.000 x</label>
          </div>
          <div class="col-xs-6">
            <input type="number" id="mille" class="form-control" name="mille" [ngModel]="default1000" required>
          </div>
        </div>

        <div class="form-group row">
          <div class="col-xs-6">
            <label for="cinqCent">500 x</label>
          </div>
          <div class="col-xs-6">
            <input type="number" id="cinqCent" class="form-control" name="cinqCent" [ngModel]="default500" required>
          </div>
        </div>

        <div class="form-group row">
          <div class="col-xs-6">
            <label for="cent">100 x</label>
          </div>
          <div class="col-xs-6">
            <input type="number" id="cent" class="form-control" name="cent" [ngModel]="default100" required>
          </div>
        </div>

        <div class="form-group row">
          <div class="col-xs-6">
            <label for="cinquante">50 x</label>
          </div>
          <div class="col-xs-6">
            <input type="number" id="cinquante" class="form-control" name="cinquante" [ngModel]="default50" required>
          </div>
        </div>

        <div class="form-group row">
          <div class="col-xs-6">
            <label for="vingtCinq">25 x</label>
          </div>
          <div class="col-xs-6">
            <input type="number" id="vingtCinq" class="form-control" name="vingtCinq" [ngModel]="default25" required>
          </div>
        </div>

        <div class="form-group row">
          <div class="col-xs-6"><label>TOTAL :</label></div>
          <div class="col-xs-6"><label>{{ totalEspece }} FCFA</label></div>
        </div>
        <!--button class="btn btn-danger" type="button" color="danger" (click)="dismissModal()">Fermer</button>
        <input class="btn btn-warning" type="reset" value="Annuler"-->
        <input class="btn btn-success pull-right" type="submit" [disabled]="f.invalid">
      </form>
    </div>
  </div>
</ion-content>
